@if (modalService.isModalOpen()) {
  <div (click)="onBackdropClick($event)" #backdrop>
    <div (click)="$event.stopPropagation()">
      <div>
        <h2>Selecione uma Ação</h2>
        <button (click)="onClose()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div>
        <label for="stock-select">
          Ação:
        </label>
        <select id="stock-select">
          @for (stock of stocks; track stock.id) {
            <option [value]="stock.name">{{ stock.name }}</option>
          }
        </select>
      </div>

      <button (click)="onSelect()">
        Adicionar
      </button>
    </div>
  </div>
}